@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define basic font settings and color variables */
html {
    scroll-behavior: smooth;
}
/* Width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0b012f;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0b91d9;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0626c6;
}

:root {
    /* Font weights */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Color for headers and texts */
    --header-color: #000; /* Black for headers */
    --text-color: #4a4a4a; /* Slightly gray for regular text */

    /* Dark/Light mode colors */
    --text-color-light: #333; /* Dark text for light background */
    --text-color-dark: #fff; /* Light text for dark background */
    --background-color-light: #f4f4f4; /* Light background */
    --background-color-dark: #0d0d0d; /* Dark background */

    /* Header colors for dark/light mode */
    --header-color-light: #000; /* Black for headers in light mode */
    --header-color-dark: #ccc; /* Light gray for headers in dark mode */
}

body {
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    scroll-behavior: smooth;
}

/* Headings (h1 - h6) */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--header-color); /* Color for headers */
    font-weight: var(--font-weight-bold); /* Bold font for headers */
}

h1 {
    font-size: 4.5em;
    font-family: "Kaushan Script", cursive;
}
h2 {
    font-size: 3em;
    font-family: "Kaushan Script", cursive;
}
h3 {
    font-size: 1.75em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.25em;
}
h6 {
    font-size: 1em;
}

/* Paragraph */
p {
    color: var(--text-color); /* Slightly gray color for paragraph */

    line-height: 1.5;
    font-weight: var(--font-weight-regular); /* Regular font for paragraph */
}

/* Span */
span {
    color: var(--text-color);
    color: rgb(30, 30, 30);
    background-color: rgb(47, 47, 47);
    font-size: 1em;
}

/* List elements (ul, ol, li) */
ul,
ol {
    padding-left: 20px;
}

li {
    color: var(--text-color);
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    color: var(--text-color);
}

.buttonVariation1 {
    border: 1px solid #444444;
    padding: 6px 30px;
    border-radius: 2px;
    color: white;
    font-size: 1.2em;
    background-color: transparent;
    transition: 0.3s ease;
}
.buttonVariation1:hover {
    background-color: white;
    color: black;
}

/* Light/Dark Mode Styles */
body .light-mode {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    --header-color: var(
        --header-color-light
    ); /* Color for headers in light mode */
    --text-color: var(
        --text-color
    ); /* Slightly gray color for text in light mode */
}

body .dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
    --header-color: var(
        --header-color-dark
    ); /* Color for headers in dark mode */
    --text-color: var(
        --text-color-dark
    ); /* Light color for text in dark mode */
}

/* Add more styles or media queries as per your need */

/* Responsive Typography */
@media (max-width: 768px) {
    /* For tablets */
    h1 {
        font-size: 2em;
    } /* Smaller than original */
    h2 {
        font-size: 1.75em;
    }
    h3 {
        font-size: 1.5em;
    }
    h4 {
        font-size: 1.25em;
    }
    h5 {
        font-size: 1em;
    }
    h6 {
        font-size: 0.85em;
    }
    p,
    span,
    li {
        font-size: 0.9em; /* Slightly smaller */
    }
}

@media (max-width: 480px) {
    /* For mobile phones */
    h1 {
        font-size: 1.5em;
    } /* Smaller than tablet */
    h2 {
        font-size: 1.25em;
    }
    h3 {
        font-size: 1.1em;
    }
    h4 {
        font-size: 1em;
    }
    h5 {
        font-size: 0.9em;
    }
    h6 {
        font-size: 0.75em;
    }
    p,
    span,
    li {
        font-size: 0.85em; /* Smaller than tablet */
    }
}

.panel {
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section {
    width: 100%;
    height: 100vh;
}
.red {
    height: 100vh;
    min-height: 100vh;
    background-color: red;
}
.dark {
    height: 100vh;
    min-height: 100vh;
    background-color: rgb(18, 18, 18);
}
.orange {
    height: 100vh;
    min-height: 100vh;
    background-color: rgb(232, 97, 13);
}
.purple {
    height: 50vh;
    min-height: 50vh;
    background-color: purple;
}

.boxes-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

#smooth-content {
    overflow: visible;
    width: 100%;
    /* set a height because the contents are position: absolute, thus natively there's no height */
    height: 40000px;
}
.box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.box.active {
    border: solid 2px red;
}

.box-a {
    top: 200px;
}

.box-b {
    top: 600px;
}

.box-c {
    top: 1000px;
}
.end {
    position: absolute;
    /*   bottom: 0; */
    top: 2400px;
    transform: translateY(-100%);
    font-size: 30px;
    color: white;
}
@keyframes rotateCircular {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    25% {
        transform: rotateX(20deg) rotateY(20deg);
    }
    50% {
        transform: rotateX(0deg) rotateY(40deg);
    }
    75% {
        transform: rotateX(-20deg) rotateY(20deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg);
    }
}

.rotatingCircular {
    animation: rotateCircular 4s linear infinite;
}
.layer {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents any overflow from the scaled image */
}
#scene {
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Prevents any overflow (like white space) from being visible */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.css-futumu-MuiLinearProgress-root span {
    color: rgb(221, 221, 221);
}

.linearBg {
    position: relative;
    z-index: 1;

    background-attachment: fixed; /* Key for parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Cover ensures the background covers the div */
    background-image: linear-gradient(
        to right top,
        #220530,
        #1a0930,
        #130b2e,
        #0c0d2b,
        #060e28,
        #020f25,
        #001022,
        #00101e,
        #00101a,
        #000f16,
        #000e11,
        #010c0c
    );
    /* background-image: linear-gradient(
        to right top,
        #1d1c1c,
        #20191b,
        #22161c,
        #201420,
        #1b1326,
        #141427,
        #0b1428,
        #001527,
        #001421,
        #00131a,
        #001013,
        #010c0c
    ); */
}
.teamCardBg {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    animation: circularMotion 5s infinite linear;
}
/* Base state: applying transition properties here ensures smooth changes */
.navbarBase {
    transition: background 0.3s ease, box-shadow 0.3s ease, backdrop-filter 0.3s ease, border-bottom 0.3s ease;
    background: transparent; /* Default state */
    box-shadow: none; /* Default state */
    backdrop-filter: none; /* Default state */
    border-bottom: none; /* Default state */
    /* Apply other base styles here */
}

/* Scrolled state */
.navbarBg {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    /* Remove or adjust the animation property if it interferes with the transition */
    /* animation: navbarMotion 5s infinite linear; */
}


@keyframes navbarMotion {
    0% {
        border-bottom: 3px solid rgba(31, 38, 135, 0.37);
        box-shadow: 10px 0 302px 0 rgba(31, 38, 135, 0.37);
    }
    25% {
        border-bottom: 3px solid rgba(31, 38, 135, 0.37);
        box-shadow: 0 10px 32px 0 rgba(31, 38, 135, 0.37);
    }
    50% {
        border-bottom: 3px solid rgba(31, 114, 135, 0.37);
        box-shadow: -10px 0 302px 0 rgba(31, 114, 135, 0.37);
    }
    75% {
        border-bottom: 3px solid rgba(111, 31, 135, 0.37);
        box-shadow: -10px 0 302px 0 rgba(111, 31, 135, 0.37);
    }
    100% {
        border-bottom: 3px solid rgba(31, 38, 135, 0.37);
        box-shadow: -10px 0 302px 0 rgba(31, 38, 135, 0.37);
    }
}

@keyframes circularMotion {
    0% {
        box-shadow: 10px 0 302px 0 rgba(31, 38, 135, 0.37);
    }
    25% {
        box-shadow: 0 10px 32px 0 rgba(31, 135, 86, 0.37);
    }
    50% {
        box-shadow: -10px 0 302px 0 rgba(31, 38, 135, 0.37);
    }
    75% {
        box-shadow: 0 -10px 32px 0 rgba(126, 31, 135, 0.37);
    }
    100% {
        box-shadow: 10px 0 302px 0 rgba(135, 31, 55, 0.37);
    }
}
